$color1:#F56400;
$color2:#34A8C4;
$colorBackground:#F5F5F1;
*{
    box-sizing: border-box;
}

.card{
    height: 20vw;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 10px;
    background: white;
    margin: 10px;
    width: 23%;
    img{
        width: 100%;
    }
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
body{
    background: $colorBackground;
}
.header-container{
    background: white;
}
.orange-text{
    color:$color1;
    font-size: 25px;
}
.top-left{
    padding-top: 10px;
}
.top-left-left{
    float: left;
    color: $color1;
    font-size: 35px;
    padding-right: 10px;
}
.top-left-right{
    padding-top: 10px;
}
.top-right{
    ul{
        // padding-top: 12px;
        font-size: 15px;
        a{
            padding-right: 5px;
        }
        li{
            display: inline-block;
        }
        button{
            color:$color2;
            background: white;
            border:1px solid $color2;
        }
    }
}
.logo-right{
    display: inline-block;
    height: 15px;
    i{
        display: block;
    }
}
.top-row-two{
    padding-left: 15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            padding-right: 15px;
        }
    }
}
.middle-container{
    padding-top:20px;
}
.middle-left-one{
    background: white;
    padding: 10px;
    ul{
        list-style-type: none;
    }
}
.middle-left-two{
    background: white;
    padding-left: 5px;
    a{
        padding-left: 5px;
    }
    .low-high{
        display: inline-block;
        width: 70px;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
        }
    }
    .btns{
        width: 15px;
        padding: 12px;
    }
    .li-red{
        background: red;
    }
    .li-orange{
        background: orange;
    }
    .li-yellow{
        background: yellow;
    }
    .li-green{
        background: green;
    }
    .li-blue{
        background: lightblue;
    }
    .li-purple{
        background: purple;
    }
    .li-black{
        background: black;
    }
    .li-white{
        background: white;
        border: .2px solid grey;
    }
}
.board-seller{
    opacity: .7;
}
.board-price{
    color: green;
    opacity: .7;
}
footer{
    .bottom-button{
        background: $color2;
        color: white;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        opacity: .8;
        font-size: 13px;
    }
    li{
        margin: 8px 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
}
.middle-right-text p:first-child{
    float: left;
}
.middle-right-text{
    text-align: right;
}
.search-button{
    background: $color2;
}
.sub-form{
    width: 30%;
    margin: auto;
}
.sub-button{
    background: $color2;
}
