* {
  box-sizing: border-box;
}

.card {
  height: 20vw;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: white;
  margin: 10px;
  width: 23%;
}

.card img {
  width: 100%;
}

.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

body {
  background: #F5F5F1;
}

.header-container {
  background: white;
}

.orange-text {
  color: #F56400;
  font-size: 25px;
}

.top-left {
  padding-top: 10px;
}

.top-left-left {
  float: left;
  color: #F56400;
  font-size: 35px;
  padding-right: 10px;
}

.top-left-right {
  padding-top: 10px;
}

.top-right ul {
  font-size: 15px;
}

.top-right ul a {
  padding-right: 5px;
}

.top-right ul li {
  display: inline-block;
}

.top-right ul button {
  color: #34A8C4;
  background: white;
  border: 1px solid #34A8C4;
}

.logo-right {
  display: inline-block;
  height: 15px;
}

.logo-right i {
  display: block;
}

.top-row-two {
  padding-left: 15px;
}

.top-row-two ul {
  list-style-type: none;
}

.top-row-two ul li {
  display: inline-block;
  padding-right: 15px;
}

.middle-container {
  padding-top: 20px;
}

.middle-left-one {
  background: white;
  padding: 10px;
}

.middle-left-one ul {
  list-style-type: none;
}

.middle-left-two {
  background: white;
  padding-left: 5px;
}

.middle-left-two a {
  padding-left: 5px;
}

.middle-left-two .low-high {
  display: inline-block;
  width: 70px;
}

.middle-left-two ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.middle-left-two ul li {
  display: inline-block;
}

.middle-left-two .btns {
  width: 15px;
  padding: 12px;
}

.middle-left-two .li-red {
  background: red;
}

.middle-left-two .li-orange {
  background: orange;
}

.middle-left-two .li-yellow {
  background: yellow;
}

.middle-left-two .li-green {
  background: green;
}

.middle-left-two .li-blue {
  background: lightblue;
}

.middle-left-two .li-purple {
  background: purple;
}

.middle-left-two .li-black {
  background: black;
}

.middle-left-two .li-white {
  background: white;
  border: .2px solid grey;
}

.board-seller {
  opacity: .7;
}

.board-price {
  color: green;
  opacity: .7;
}

footer .bottom-button {
  background: #34A8C4;
  color: white;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: .8;
  font-size: 13px;
}

footer li {
  margin: 8px 0;
}

footer a {
  text-decoration: none;
  color: black;
}

.middle-right-text p:first-child {
  float: left;
}

.middle-right-text {
  text-align: right;
}

.search-button {
  background: #34A8C4;
}

.sub-form {
  width: 30%;
  margin: auto;
}

.sub-button {
  background: #34A8C4;
}
